@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑"; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 16px; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

a, u {
  text-decoration: none; }

img {
  border: 0;
  display: block; }

ul, ol, li {
  list-style: none; }

input, select {
  outline: none; }

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

a {
  display: block; }

/*top*/
.top {
  height: 85px;
  overflow: heidden;
  width: 100%; }
  .top .top-con {
    height: 85px;
    width: 1423px;
    margin: 0 auto; }
    .top .top-con .top-l {
      width: 712px;
      height: 85px;
      float: left; }
    .top .top-con img {
      width: 712px;
      height: 85px; }
    .top .top-con .top-r {
      width: 711px;
      height: 85px;
      float: left; }

/*nav1*/
.nav1 {
  height: 30px;
  background: #f5f5f5; }
  .nav1 .nav1-con {
    height: 30px;
    width: 1204px;
    margin: 0 auto;
    position: relative; }
    .nav1 .nav1-con .nav-right {
      height: 30px;
      width: 560px;
      position: absolute;
      left: 645px;
      top: 0; }
      .nav1 .nav1-con .nav-right ul {
        position: relative;
        /*鼠标滑过，二级菜单*/ }
        .nav1 .nav1-con .nav-right ul li {
          float: left;
          margin-top: 6px;
          font-size: 12px; }
        .nav1 .nav1-con .nav-right ul #login {
          display: block;
          height: 16px;
          width: 26px;
          font-size: 12px;
          padding-right: 12px;
          border-right: solid 1px #e1d6de; }
        .nav1 .nav1-con .nav-right ul #register {
          display: block;
          height: 16px;
          width: 26px;
          font-size: 12px;
          padding-left: 12px; }
        .nav1 .nav1-con .nav-right ul #my {
          display: block;
          font-size: 12px;
          margin-left: 22px;
          position: relative;
          padding-right: 32px;
          border-right: solid 1px #e1d6de; }
          .nav1 .nav1-con .nav-right ul #my i {
            display: block;
            height: 6px;
            width: 10px;
            background-image: url(../images/jiantou_03.png);
            background-repeat: no-repeat;
            position: absolute;
            left: 68px;
            top: 5px; }
        .nav1 .nav1-con .nav-right ul #ul1 {
          position: absolute;
          left: 94px;
          top: 0px;
          width: 67px;
          height: 110px;
          font-size: 12px;
          background: #FFFFFF;
          display: none;
          border: solid #dcdcdc 1px;
          padding: 5px 20px 8px 10px; }
          .nav1 .nav1-con .nav-right ul #ul1 i {
            display: block;
            height: 6px;
            width: 10px;
            position: absolute;
            left: 77px;
            top: 17px;
            background-image: url(../images/daosanjiao_03.png);
            background-repeat: no-repeat; }
        .nav1 .nav1-con .nav-right ul #phone {
          display: block;
          margin-left: 22px;
          position: relative;
          padding-right: 32px;
          border-right: solid 1px #e1d6de; }
          .nav1 .nav1-con .nav-right ul #phone i {
            display: block;
            height: 6px;
            width: 10px;
            background-image: url(../images/jiantou_03.png);
            background-repeat: no-repeat;
            position: absolute;
            left: 68px;
            top: 5px; }
        .nav1 .nav1-con .nav-right ul #ul2 {
          position: absolute;
          left: 192px;
          top: 0px;
          width: 80px;
          height: 116px;
          background: #FFFFFF;
          border: solid #dcdcdc 1px;
          display: none;
          padding: 0px 20px 8px 23px; }
          .nav1 .nav1-con .nav-right ul #ul2 i {
            display: block;
            height: 6px;
            width: 10px;
            position: absolute;
            left: 90px;
            top: 12px;
            background-image: url(../images/daosanjiao_03.png);
            background-repeat: no-repeat; }
        .nav1 .nav1-con .nav-right ul #care {
          display: block;
          margin-left: 12px;
          position: relative;
          padding-right: 32px;
          border-right: solid 1px #e1d6de; }
          .nav1 .nav1-con .nav-right ul #care i {
            display: block;
            height: 6px;
            width: 10px;
            background-image: url(../images/jiantou_03.png);
            background-repeat: no-repeat;
            position: absolute;
            left: 68px;
            top: 5px; }
        .nav1 .nav1-con .nav-right ul #ul4 {
          position: absolute;
          left: 292px;
          top: 0px;
          width: 73px;
          height: 116px;
          background: #FFFFFF;
          border: solid #dcdcdc 1px;
          display: none;
          padding: 0px 20px 8px 23px; }
          .nav1 .nav1-con .nav-right ul #ul4 i {
            display: block;
            height: 6px;
            width: 10px;
            position: absolute;
            left: 90px;
            top: 12px;
            background-image: url(../images/daosanjiao_03.png);
            background-repeat: no-repeat; }
        .nav1 .nav1-con .nav-right ul #kehu {
          display: block;
          margin-left: 12px;
          position: relative;
          padding-right: 32px;
          border-right: solid 1px #e1d6de; }
          .nav1 .nav1-con .nav-right ul #kehu i {
            display: block;
            height: 6px;
            width: 10px;
            background-image: url(../images/jiantou_03.png);
            background-repeat: no-repeat;
            position: absolute;
            left: 68px;
            top: 5px; }
        .nav1 .nav1-con .nav-right ul #ul3 {
          position: absolute;
          left: 405px;
          top: 0px;
          width: 67px;
          height: 110px;
          font-size: 12px;
          background: #FFFFFF;
          display: none;
          border: solid #dcdcdc 1px;
          padding: 5px 20px 8px 15px; }
          .nav1 .nav1-con .nav-right ul #ul3 i {
            display: block;
            height: 6px;
            width: 10px;
            position: absolute;
            left: 77px;
            top: 17px;
            background-image: url(../images/daosanjiao_03.png);
            background-repeat: no-repeat; }
        .nav1 .nav1-con .nav-right ul #gonggao {
          display: block;
          margin-left: 12px;
          position: relative; }
          .nav1 .nav1-con .nav-right ul #gonggao i {
            display: block;
            height: 6px;
            width: 10px;
            background-image: url(../images/jiantou_03.png);
            background-repeat: no-repeat;
            position: absolute;
            left: 28px;
            top: 5px; }
        .nav1 .nav1-con .nav-right ul #ul5 {
          height: 71px;
          width: 197px;
          position: absolute;
          left: 322px;
          top: 30px;
          border: solid #dcdcdc 1px;
          padding: 5px 20px 8px 15px;
          font-size: 12px;
          display: none; }

.logo {
  height: 110px;
  background: #f5f5f5;
  border-top: #dcdcdc solid 1px; }
  .logo .logo-con {
    height: 110px;
    width: 1195px;
    margin: 0 auto;
    position: relative;
    background: #f5f5f5; }
    .logo .logo-con .box {
      height: 32px;
      width: 474px;
      border: #da0056 solid 2px;
      position: absolute;
      left: 338px;
      top: 29px;
      position: absolute;
      left: 338px;
      top: 28px; }
      .logo .logo-con .box #look {
        width: 372px;
        height: 30px; }
      .logo .logo-con .box #btn {
        display: block;
        height: 32px;
        width: 100px;
        background: #da0056;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
        color: #FFFFFF;
        position: absolute;
        left: 374px;
        top: 0; }
        .logo .logo-con .box #btn i {
          height: 16px;
          width: 18px;
          position: absolute;
          left: 16px;
          top: 9px;
          background-image: url(../images/sousuo_07.png);
          background-repeat: no-repeat; }
    .logo .logo-con #ul1 {
      height: 16px;
      width: 425px;
      position: absolute;
      left: 338px;
      top: 75px; }
      .logo .logo-con #ul1 li {
        float: left;
        margin-right: 11px; }
        .logo .logo-con #ul1 li a {
          font-size: 12px;
          color: #858585; }
    .logo .logo-con #car {
      width: 250px;
      height: 32px;
      background: #ffd974;
      position: absolute;
      left: 942px;
      top: 32px; }
      .logo .logo-con #car #car1 {
        display: block;
        height: 32px;
        width: 71px;
        background: #ffd974;
        background-image: url(../images/cartbtnbg.png);
        background-repeat: no-repeat;
        background-position-x: 20px;
        background-position-y: 5px; }
      .logo .logo-con #car #car2 {
        height: 28px;
        width: 176px;
        position: absolute;
        left: 72px;
        top: 2px;
        background: #FFFFFF;
        font-size: 12px;
        text-align: center;
        line-height: 28px; }
        .logo .logo-con #car #car2 #car3 {
          color: #d1096c; }

/*nav导航栏*/
.nav {
  height: 40px;
  background: #000000; }
  .nav #nav-con {
    height: 40px;
    width: 1195px;
    margin: 0 auto;
    position: relative;
    /*运动生活鼠标移入*/ }
    .nav #nav-con #ul1 {
      height: 40px;
      width: 800px;
      position: relative;
      /*运动生活*/ }
      .nav #nav-con #ul1 li {
        float: left; }
        .nav #nav-con #ul1 li a {
          height: 40px;
          color: #FFFFFF;
          font-size: 14px;
          text-align: center;
          line-height: 40px; }
      .nav #nav-con #ul1 #a1 {
        height: 40px;
        width: 100px;
        background: #d60056; }
      .nav #nav-con #ul1 #a2 {
        height: 40px;
        width: 122px;
        position: relative; }
        .nav #nav-con #ul1 #a2 img {
          height: 46px;
          width: 122px;
          position: absolute;
          left: 0;
          top: -6px; }
      .nav #nav-con #ul1 #a3 {
        margin-left: 24px;
        color: red; }
      .nav #nav-con #ul1 #a5 {
        margin-right: 83px; }
      .nav #nav-con #ul1 #a3, .nav #nav-con #ul1 #a4, .nav #nav-con #ul1 #a6 {
        margin-right: 45px; }
      .nav #nav-con #ul1 #ball {
        display: block;
        height: 40px;
        width: 33px;
        position: absolute;
        left: 550px;
        top: 0px;
        background-image: url(../images/7de29d4226bbf3855eb7eca34a680cc5.gif);
        background-repeat: no-repeat; }
    .nav #nav-con #sport {
      height: 397px;
      width: 1124px;
      background: #FFFFFF;
      position: absolute;
      left: 0px;
      top: 40px;
      display: none; }
      .nav #nav-con #sport #sport-l {
        height: 386px;
        width: 384px;
        padding-top: 12px;
        float: left;
        background: #FFFFFF; }
        .nav #nav-con #sport #sport-l #Buybrand {
          color: #d70057;
          margin: 13px 0 0 13px;
          font-size: 12px; }
        .nav #nav-con #sport #sport-l #sneaker {
          display: block;
          margin: 15px 0 0 13px;
          font-size: 12px; }
          .nav #nav-con #sport #sport-l #sneaker ul {
            height: 52px;
            width: 334px;
            margin-top: 16px; }
            .nav #nav-con #sport #sport-l #sneaker ul li {
              float: left;
              margin-right: 13px;
              font-size: 12px;
              line-height: 20px; }
        .nav #nav-con #sport #sport-l #sports {
          display: block;
          margin: 15px 0 0 13px;
          font-size: 12px; }
          .nav #nav-con #sport #sport-l #sports ul {
            height: 52px;
            width: 349px;
            margin-top: 12px; }
            .nav #nav-con #sport #sport-l #sports ul li {
              float: left;
              margin-right: 34px;
              font-size: 12px;
              line-height: 20px; }
        .nav #nav-con #sport #sport-l #children {
          display: block;
          margin: 20px 0 0 13px;
          font-size: 12px; }
          .nav #nav-con #sport #sport-l #children ul {
            height: 16px;
            width: 314px;
            margin-top: 16px; }
            .nav #nav-con #sport #sport-l #children ul li {
              float: left;
              margin-right: 15px;
              font-size: 12px;
              line-height: 20px; }
        .nav #nav-con #sport #sport-l #rim {
          display: block;
          margin: 20px 0 0 13px;
          font-size: 12px; }
          .nav #nav-con #sport #sport-l #rim ul {
            height: 34px;
            width: 314px;
            margin-top: 16px; }
            .nav #nav-con #sport #sport-l #rim ul li {
              float: left;
              margin-right: 15px;
              font-size: 12px;
              line-height: 20px; }
      .nav #nav-con #sport #sport-con {
        width: 474px;
        height: 385px;
        position: relative;
        float: left;
        padding-top: 12px; }
        .nav #nav-con #sport #sport-con #buysport {
          color: #d70057;
          margin: 13px 0 0 13px;
          font-size: 12px; }
        .nav #nav-con #sport #sport-con #summer {
          display: block;
          margin: 14px 0 0 13px;
          font-size: 12px; }
          .nav #nav-con #sport #sport-con #summer ul {
            height: 34px;
            width: 445px;
            margin-top: 16px; }
            .nav #nav-con #sport #sport-con #summer ul li {
              float: left;
              margin-right: 13px;
              font-size: 12px;
              line-height: 20px; }
        .nav #nav-con #sport #sport-con #runsport {
          display: block;
          margin: 0px 0 0 13px;
          font-size: 12px; }
          .nav #nav-con #sport #sport-con #runsport ul {
            height: 56px;
            width: 405px;
            margin-top: 16px; }
            .nav #nav-con #sport #sport-con #runsport ul li {
              float: left;
              margin-right: 15px;
              font-size: 12px;
              line-height: 20px; }
        .nav #nav-con #sport #sport-con #ballsport {
          display: block;
          margin: 20px 0 0 13px;
          font-size: 12px; }
          .nav #nav-con #sport #sport-con #ballsport ul {
            height: 56px;
            width: 310px;
            margin-top: 16px; }
            .nav #nav-con #sport #sport-con #ballsport ul li {
              float: left;
              margin-right: 15px;
              font-size: 12px;
              line-height: 20px; }
        .nav #nav-con #sport #sport-con #fitness {
          display: block;
          margin: 20px 0 0 13px;
          font-size: 12px; }
          .nav #nav-con #sport #sport-con #fitness ul {
            height: 16px;
            width: 430px;
            margin-top: 16px; }
            .nav #nav-con #sport #sport-con #fitness ul li {
              float: left;
              margin-right: 12px;
              font-size: 12px;
              line-height: 16px; }
      .nav #nav-con #sport #sport-r {
        height: 385px;
        width: 265px;
        float: left;
        padding-top: 12px; }
        .nav #nav-con #sport #sport-r #brand2 {
          color: #d70057;
          margin: 13px 0 0 13px;
          font-size: 12px; }
        .nav #nav-con #sport #sport-r #brand2ul2 {
          height: 357px;
          width: 243px;
          margin-top: 16px;
          margin-left: 12px; }

.cart {
  min-height: 529px;
  display: block;
  background: #f5f5f5; }
  .cart .cart-con {
    width: 1200px;
    min-height: 244px;
    background: #f5f5f5;
    margin: 0 auto; }
    .cart .cart-con .cart-tit {
      border-bottom: #d70057 solid 2px;
      height: 60px;
      line-height: 60px;
      margin-top: 12px;
      font-size: 24px; }
    .cart .cart-con .cartlogin {
      display: block;
      height: 110px;
      width: 1200px;
      text-align: center;
      margin-top: 45px;
      border: 1px solid #e8e8e8;
      padding-top: 26px; }
      .cart .cart-con .cartlogin a {
        display: block;
        height: 30px;
        width: 120px;
        background: #d70057;
        color: #fff;
        text-align: center;
        line-height: 30px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 26px; }
    .cart .cart-con .nullcart {
      display: block;
      height: 284px;
      background: #f5f5f5; }
      .cart .cart-con .nullcart img {
        width: 181px;
        height: 172px;
        margin: 40px 0 0 317px;
        float: left; }
      .cart .cart-con .nullcart .nullcartright {
        float: left;
        height: 172px;
        margin: 40px 0 0 010px;
        padding-top: 30px; }
        .cart .cart-con .nullcart .nullcartright p {
          font-size: 30px;
          line-height: 48px;
          color: #999; }
        .cart .cart-con .nullcart .nullcartright .right1 {
          float: left;
          width: 168px;
          height: 49px;
          border: 1px solid #ccc;
          color: #999;
          text-align: center;
          line-height: 49px;
          display: block;
          margin-right: 10px;
          font-size: 14px;
          font-weight: bold; }
        .cart .cart-con .nullcart .nullcartright .right2 {
          float: left;
          width: 168px;
          height: 49px;
          border: 1px solid #ccc;
          color: #999;
          text-align: center;
          line-height: 49px;
          display: block;
          margin-right: 10px;
          font-size: 14px;
          font-weight: bold; }
    .cart .cart-con .list {
      display: none;
      width: 1200px;
      min-height: 100px;
      background: #FFFFFF; }
      .cart .cart-con .list .header1 table {
        width: 100%;
        background: #fff; }
        .cart .cart-con .list .header1 table thead tr th {
          height: 77px;
          vertical-align: middle;
          text-align: center;
          border-bottom: 1px solid #e8e8e8;
          background: #fff; }
          .cart .cart-con .list .header1 table thead tr th .allcur {
            background: url("http://0.js.al.okbuycdn.com/resources/images/v6/cart/checkbox.png") -20px 0 no-repeat; }
      .cart .cart-con .list .tejia {
        width: 1200px;
        height: 222px; }
        .cart .cart-con .list .tejia .top1 {
          height: 40px;
          width: 1090px;
          border-bottom: 1px dashed #CCCCCC;
          margin-left: 110px;
          background: #FFFFFF;
          lin-height: 71px;
          padding-top: 35px; }
          .cart .cart-con .list .tejia .top1 span {
            display: inline-block;
            background: #d70057;
            color: #fff;
            padding: 0 5px;
            height: 20px;
            border-radius: 4px;
            font-size: 12px;
            line-height: 20px;
            margin-right: 10px; }
        .cart .cart-con .list .tejia .top-2 {
          height: 151px;
          width: 1200px;
          background: #FFFFFF;
          border-bottom: 1px solid #CCCCCC; }
          .cart .cart-con .list .tejia .top-2 .top-con1 {
            height: 151px;
            width: 110px;
            float: left; }
            .cart .cart-con .list .tejia .top-2 .top-con1 span {
              display: block;
              width: 20px;
              height: 20px;
              margin-top: 65px;
              margin-left: 45px;
              border: 1px solid #000000;
              background-image: url(../images/checkbox.png);
              background-repeat: no-repeat;
              background-position: -20px 0px; }
          .cart .cart-con .list .tejia .top-2 .top-con2 {
            height: 151px;
            width: 470px;
            float: left; }
            .cart .cart-con .list .tejia .top-2 .top-con2 a {
              height: 92px;
              width: 460px;
              margin-left: 0px;
              margin-top: 30px;
              float: left; }
              .cart .cart-con .list .tejia .top-2 .top-con2 a img {
                width: 92px;
                height: 92px;
                border: 1px solid #000000;
                float: left; }
              .cart .cart-con .list .tejia .top-2 .top-con2 a strong {
                font-weight: normal;
                font-size: 14px;
                margin-top: 26px;
                float: left;
                display: block;
                width: 340px;
                margin-left: 20px;
                overflow: hidden;
                text-overflow: ellipsis; }
              .cart .cart-con .list .tejia .top-2 .top-con2 a small {
                font-size: 14px;
                color: #999;
                float: left;
                display: block;
                width: 340px;
                margin-left: 20px;
                margin-top: 10px; }
                .cart .cart-con .list .tejia .top-2 .top-con2 a small i {
                  color: #333; }
          .cart .cart-con .list .tejia .top-2 .price1 {
            float: left;
            height: 41px;
            width: 65px;
            padding: 55px 45px;
            font-size: 16px; }
          .cart .cart-con .list .tejia .top-2 .num1 {
            height: 96px;
            width: 200px;
            float: left;
            padding-top: 55px; }
            .cart .cart-con .list .tejia .top-2 .num1 ul li {
              height: 40px;
              width: 46px;
              background: #e8e8e8;
              line-height: 40px;
              text-align: center;
              font-size: 16px;
              float: left; }
            .cart .cart-con .list .tejia .top-2 .num1 ul .num-con1 {
              height: 40px;
              width: 84px;
              background: #FFFFFF; }
          .cart .cart-con .list .tejia .top-2 .small-add {
            float: left;
            height: 41px;
            width: 21px;
            padding: 55px 45px;
            font-size: 16px;
            color: #d70057; }
          .cart .cart-con .list .tejia .top-2 .caozuo {
            height: 96px;
            width: 39px;
            padding-top: 55px;
            padding-left: 40px;
            float: left; }
            .cart .cart-con .list .tejia .top-2 .caozuo .dele1 {
              height: 20px;
              display: block;
              width: 20px;
              border: 1px solid #CCCCCC;
              float: left;
              background-image: url(../images/carticon.png);
              background-repeat: no-repeat;
              background-position: -54px 3px; }
            .cart .cart-con .list .tejia .top-2 .caozuo .dele2 {
              height: 20px;
              width: 20px;
              display: none;
              border: 1px solid #CCCCCC;
              float: left;
              background-image: url(../images/carticon.png);
              background-repeat: no-repeat;
              background-position: -80px 3px; }
      .cart .cart-con .list .tejia2 {
        width: 1200px;
        height: 151px; }
        .cart .cart-con .list .tejia2 .top-2 {
          height: 151px;
          width: 1200px;
          background: #FFFFFF;
          border-bottom: 1px solid #CCCCCC; }
          .cart .cart-con .list .tejia2 .top-2 .top-con2 {
            height: 151px;
            width: 110px;
            float: left; }
            .cart .cart-con .list .tejia2 .top-2 .top-con2 span {
              display: block;
              width: 20px;
              height: 20px;
              margin-top: 65px;
              margin-left: 45px;
              border: 1px solid #000000;
              background-image: url(../images/checkbox.png);
              background-repeat: no-repeat;
              background-position: -20px 0px; }
          .cart .cart-con .list .tejia2 .top-2 .top-con3 {
            height: 151px;
            width: 470px;
            float: left; }
            .cart .cart-con .list .tejia2 .top-2 .top-con3 a {
              height: 92px;
              width: 460px;
              margin-left: 0px;
              margin-top: 30px;
              float: left; }
              .cart .cart-con .list .tejia2 .top-2 .top-con3 a img {
                width: 92px;
                height: 92px;
                border: 1px solid #000000;
                float: left; }
              .cart .cart-con .list .tejia2 .top-2 .top-con3 a strong {
                font-weight: normal;
                font-size: 14px;
                margin-top: 26px;
                float: left;
                display: block;
                width: 340px;
                margin-left: 20px;
                overflow: hidden;
                text-overflow: ellipsis; }
              .cart .cart-con .list .tejia2 .top-2 .top-con3 a small {
                font-size: 14px;
                color: #999;
                float: left;
                display: block;
                width: 340px;
                margin-left: 20px;
                margin-top: 10px; }
                .cart .cart-con .list .tejia2 .top-2 .top-con3 a small i {
                  color: #333; }
          .cart .cart-con .list .tejia2 .top-2 .price2 {
            float: left;
            height: 41px;
            width: 65px;
            padding: 55px 45px;
            font-size: 16px; }
          .cart .cart-con .list .tejia2 .top-2 .num2 {
            height: 96px;
            width: 200px;
            float: left;
            padding-top: 55px; }
            .cart .cart-con .list .tejia2 .top-2 .num2 ul li {
              height: 40px;
              width: 46px;
              background: #e8e8e8;
              line-height: 40px;
              text-align: center;
              font-size: 16px;
              float: left; }
            .cart .cart-con .list .tejia2 .top-2 .num2 ul .num-con1 {
              height: 40px;
              width: 84px;
              background: #FFFFFF; }
          .cart .cart-con .list .tejia2 .top-2 .small-add2 {
            float: left;
            height: 41px;
            width: 21px;
            padding: 55px 45px;
            font-size: 16px;
            color: #d70057; }
          .cart .cart-con .list .tejia2 .top-2 .caozuo1 {
            height: 96px;
            width: 39px;
            padding-top: 55px;
            padding-left: 40px;
            float: left; }
            .cart .cart-con .list .tejia2 .top-2 .caozuo1 .dele1 {
              height: 20px;
              display: block;
              width: 20px;
              border: 1px solid #CCCCCC;
              float: left;
              background-image: url(../images/carticon.png);
              background-repeat: no-repeat;
              background-position: -54px 3px; }
            .cart .cart-con .list .tejia2 .top-2 .caozuo1 .dele2 {
              height: 20px;
              width: 20px;
              display: none;
              border: 1px solid #CCCCCC;
              float: left;
              background-image: url(../images/carticon.png);
              background-repeat: no-repeat;
              background-position: -80px 3px; }
      .cart .cart-con .list .total {
        height: 60px;
        margin-top: 20px; }
        .cart .cart-con .list .total .total-con1 {
          width: 64px;
          height: 40px;
          float: left;
          background: #FFFFFF;
          padding-top: 20px;
          padding-left: 46px; }
          .cart .cart-con .list .total .total-con1 .span1 {
            display: block;
            float: left;
            height: 20px;
            width: 20px;
            background-image: url(../images/checkbox.png);
            background-repeat: no-repeat;
            background-position: -20px 0px;
            border: 1px solid #CCCCCC; }
          .cart .cart-con .list .total .total-con1 .span2 {
            float: left;
            display: block;
            font-size: 16px; }
        .cart .cart-con .list .total .total-con2 {
          width: 100px;
          height: 60px;
          float: left;
          font-size: 14px;
          text-align: center;
          line-height: 60px; }
        .cart .cart-con .list .total .num {
          height: 60px;
          width: 100px;
          margin-left: 238px;
          font-size: 14px;
          text-align: center;
          line-height: 60px;
          float: left; }
        .cart .cart-con .list .total .price {
          width: 140px;
          height: 60px;
          font-size: 14px;
          text-align: center;
          line-height: 60px;
          float: left; }
        .cart .cart-con .list .total .youhui {
          height: 60px;
          width: 130px;
          font-size: 14px;
          text-align: center;
          line-height: 60px;
          float: left; }
        .cart .cart-con .list .total .all {
          width: 220px;
          font-size: 14px;
          text-align: center;
          line-height: 60px;
          float: left; }
          .cart .cart-con .list .total .all .all-num {
            font-size: 24px;
            line-height: 10px;
            color: #d70057;
            font-weight: bold; }
        .cart .cart-con .list .total .over {
          width: 160px;
          height: 60px;
          display: block;
          text-align: center;
          color: #fff;
          font-size: 24px;
          float: left;
          line-height: 60px;
          background: #d70057; }

#bottom1 {
  height: 302px;
  background: #e6e6e6;
  border-top: 2px solid #a5a5a5; }
  #bottom1 #bottom1-con {
    width: 1200px;
    height: 302px;
    margin: 0 auto;
    position: relative; }
    #bottom1 #bottom1-con #qr {
      height: 150px;
      width: 560px;
      position: absolute;
      left: 2px;
      top: 28px;
      background: #FFFFFF; }
      #bottom1 #bottom1-con #qr #qr1 {
        position: absolute;
        left: 94px;
        top: 20px;
        height: 116px;
        width: 116px;
        flost: left; }
        #bottom1 #bottom1-con #qr #qr1 img {
          height: 88px;
          width: 88px;
          position: absolute;
          left: 15px;
          top: 0px;
          margin-bottom: 14px; }
        #bottom1 #bottom1-con #qr #qr1 span {
          font-size: 14px;
          position: absolute;
          left: 0px;
          top: 100px; }
      #bottom1 #bottom1-con #qr #qr2 {
        position: absolute;
        left: 340px;
        top: 20px;
        height: 116px;
        width: 116px;
        flost: left; }
        #bottom1 #bottom1-con #qr #qr2 img {
          height: 88px;
          width: 88px;
          position: absolute;
          left: 15px;
          top: 0px;
          margin-bottom: 14px; }
        #bottom1 #bottom1-con #qr #qr2 span {
          font-size: 14px;
          position: absolute;
          left: 0px;
          top: 100px; }
    #bottom1 #bottom1-con #guide {
      height: 111px;
      width: 123px;
      position: absolute;
      left: 622px;
      top: 28px;
      background: #FFFFFF; }
      #bottom1 #bottom1-con #guide span {
        display: block;
        height: 24px;
        width: 123px;
        color: #a2c5e3;
        font-size: 12px;
        text-align: center;
        line-height: 24px; }
      #bottom1 #bottom1-con #guide ul {
        height: 87px;
        width: 121px;
        position: absolute;
        left: 2px;
        top: 24px;
        background: #e7e7e7;
        padding-left: 20px;
        padding-top: 15px; }
        #bottom1 #bottom1-con #guide ul li {
          font-size: 12px;
          line-height: 24px; }
    #bottom1 #bottom1-con #guide2 {
      height: 111px;
      width: 123px;
      position: absolute;
      left: 770px;
      top: 28px;
      background: #FFFFFF; }
      #bottom1 #bottom1-con #guide2 span {
        display: block;
        height: 24px;
        width: 123px;
        color: #a2c5e3;
        font-size: 12px;
        text-align: center;
        line-height: 24px; }
      #bottom1 #bottom1-con #guide2 ul {
        height: 87px;
        width: 121px;
        position: absolute;
        left: 2px;
        top: 24px;
        background: #e7e7e7;
        padding-left: 20px;
        padding-top: 15px; }
        #bottom1 #bottom1-con #guide2 ul li {
          font-size: 12px;
          line-height: 24px; }
    #bottom1 #bottom1-con #guide3 {
      height: 111px;
      width: 123px;
      position: absolute;
      left: 920px;
      top: 28px;
      background: #FFFFFF; }
      #bottom1 #bottom1-con #guide3 span {
        display: block;
        height: 24px;
        width: 123px;
        color: #a2c5e3;
        font-size: 12px;
        text-align: center;
        line-height: 24px; }
      #bottom1 #bottom1-con #guide3 ul {
        height: 87px;
        width: 121px;
        position: absolute;
        left: 2px;
        top: 24px;
        background: #e7e7e7;
        padding-left: 20px;
        padding-top: 15px; }
        #bottom1 #bottom1-con #guide3 ul li {
          font-size: 12px;
          line-height: 24px; }
    #bottom1 #bottom1-con #guide4 {
      height: 111px;
      width: 123px;
      position: absolute;
      left: 1070px;
      top: 28px;
      background: #FFFFFF; }
      #bottom1 #bottom1-con #guide4 span {
        display: block;
        height: 24px;
        width: 123px;
        color: #a2c5e3;
        font-size: 12px;
        text-align: center;
        line-height: 24px; }
      #bottom1 #bottom1-con #guide4 ul {
        height: 87px;
        width: 121px;
        position: absolute;
        left: 2px;
        top: 24px;
        background: #e7e7e7;
        padding-left: 20px;
        padding-top: 15px; }
        #bottom1 #bottom1-con #guide4 ul li {
          font-size: 12px;
          line-height: 24px; }
    #bottom1 #bottom1-con #pic1 {
      position: absolute;
      left: 388px;
      top: 222px;
      border: 1px solid #bbbbb9; }
      #bottom1 #bottom1-con #pic1 img {
        height: 36px;
        width: 108px; }
    #bottom1 #bottom1-con #pic2 {
      position: absolute;
      left: 520px;
      top: 222px;
      border: 1px solid #bbbbb9; }
      #bottom1 #bottom1-con #pic2 img {
        height: 36px;
        width: 50px; }
    #bottom1 #bottom1-con #pic3 {
      position: absolute;
      left: 593px;
      top: 222px;
      border: 1px solid #bbbbb9; }
      #bottom1 #bottom1-con #pic3 img {
        height: 36px;
        width: 103px; }
    #bottom1 #bottom1-con #pic4 {
      position: absolute;
      left: 723px;
      top: 222px;
      border: 1px solid #bbbbb9; }
      #bottom1 #bottom1-con #pic4 img {
        height: 36px;
        width: 88px; }
    #bottom1 #bottom1-con #introduce {
      position: absolute;
      left: 485px;
      top: 275px; }
      #bottom1 #bottom1-con #introduce li {
        font-size: 12px;
        float: left;
        margin-right: 14px; }

#bottom2 {
  height: 24px;
  background: black; }
  #bottom2 #bottom2-con {
    height: 24px;
    width: 1007px;
    margin-left: 251px; }
    #bottom2 #bottom2-con span {
      color: #8e958e;
      font-size: 12px;
      line-height: 24px;
      margin-right: 18px;
      float: left; }
    #bottom2 #bottom2-con h2 {
      color: #8e958e;
      font-size: 12px;
      line-height: 24px;
      margin-right: 18px;
      float: left; }
    #bottom2 #bottom2-con h3 {
      color: #8e958e;
      font-size: 12px;
      line-height: 24px;
      margin-right: 18px;
      float: left; }
    #bottom2 #bottom2-con h4 {
      color: #8e958e;
      font-size: 12px;
      line-height: 24px;
      margin-right: 18px;
      float: left; }
