@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑"; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 16px; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

a, u {
  text-decoration: none; }

img {
  border: 0;
  display: block; }

ul, ol, li {
  list-style: none; }

input, select {
  outline: none; }

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

a {
  display: block; }

.top {
  height: 85px;
  width: 100%;
  overflow: hidden; }
  .top .top-con {
    height: 85px;
    width: 1423px;
    margin: 0 auto; }

.top-con .top-l {
  width: 712px;
  height: 85px;
  float: left; }

.top-con img {
  width: 712px;
  height: 85px; }

.top-con .top-r {
  width: 711px;
  height: 85px;
  float: left; }

.header .nav {
  height: 30px;
  width: 100%; }

.nav .nav-con {
  height: 30px;
  width: 1200px;
  margin: 0 auto; }

.nav-con .nav-left {
  height: 30px;
  width: 640px;
  float: left; }

.nav-con .nav-right {
  width: 560px;
  height: 30px;
  font-size: 12px;
  float: right;
  line-height: 28px; }

/*登陆*/
.nav-right .log {
  float: left;
  line-height: 28px;
  font-size: 12px; }

/*注册*/
.nav-right .register {
  float: left;
  line-height: 28px;
  padding-left: 5px;
  font-size: 12px; }

/*我的好乐买*/
.nav-right .okbox .my {
  float: left;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  position: relative; }

.nav-right .okbox .my ul li {
  float: none;
  line-height: 28px;
  font-size: 12px;
  display: none; }

.okbox .my:hover.my ul li {
  display: block; }

.arrowtop {
  background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/section-tigger.png) -30px -37px no-repeat;
  width: 11px;
  height: 7px;
  display: inline-block;
  margin-left: 4px; }

/*手机好乐买*/
.nav-right .okbox .phone {
  float: left;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  position: relative; }

.nav-right .okbox .phone .phonein li img {
  margin-top: 10px auto; }

.nav-right .okbox .phone .phonein {
  display: none; }

/*关注好乐买*/
.nav-right .okbox .look {
  float: left;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  position: relative; }

.nav-right .okbox .look .lookin li {
  margin-top: 10px auto;
  position: relative; }

.nav-right .okbox .look .lookin li {
  float: none;
  display: none;
  position: relative; }

.nav-right .okbox :hover .look .lookin li {
  display: block; }

/*客户服务*/
.nav-right .okbox .writh {
  float: left;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  position: relative; }

.nav-right .okbox .writh li {
  float: none;
  line-height: 28px;
  font-size: 12px;
  display: none;
  position: relative; }

.okbox .writh:hover.writh .writhin li {
  display: block; }

/*公告*/
/*小三角号*/
.logo {
  height: 110px;
  width: 100%;
  background: #f5f5f5; }

.logo .logo-con {
  height: 110px;
  width: 1200px;
  position: relative;
  margin: 0 auto; }

.logo-con h1 {
  height: 99px;
  width: 210px;
  float: left; }

.logo-con .box {
  width: 482px;
  height: 35px;
  float: left;
  margin: 24px 0 0 114px; }

.logo-con .box-t {
  height: 32px;
  width: 376px;
  float: left;
  line-height: 38px;
  font-size: 16px;
  border: 3px solid #d70057; }

.logo-con .box-b {
  height: 38px;
  width: 96px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  float: left;
  background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png) -31px -4px no-repeat;
  margin-left: 2px; }

.logo-con .box a {
  font-size: 12px;
  color: #888; }

/*购物车*/
.logo-con .cart {
  background: #ffda73 url(http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png) -238px -4px no-repeat;
  width: 248px;
  height: 32px;
  color: #444;
  line-height: 39px;
  float: left;
  margin: 30px 0 0 120px;
  position: relative;
  z-index: 1; }

.cart span {
  height: 28px;
  width: 175px;
  background: #fff;
  display: block;
  line-height: 28px;
  text-align: center;
  position: absolute;
  left: 71px;
  top: 1px; }

/*nnav*/
.nnav {
  height: 40px;
  width: 100%;
  background: black; }

.nnav .nnav-con {
  height: 40px;
  width: 1200px;
  background: black;
  margin: 0 auto; }

.nnav-con li {
  float: left; }

/*首页*/
.nnav-con .nnavwrap a.cur {
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
  background: #d70057; }

/*限时特卖*/
.nnav-con .nnavwrap .otls {
  background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png) -187px -46px no-repeat;
  width: 122px;
  height: 46px;
  display: block;
  float: left;
  margin-top: -6px; }

/*运动生活*/
.nnavwrap .hassub1 .nav_a1 {
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
  background: black; }

.nnavwrap .hassub1 {
  position: relative; }

.hassub1 .sport {
  width: 1125px;
  height: 395px;
  background: #fff;
  position: absolute;
  left: -222px;
  top: 40px;
  z-index: 300; }

.sport .sport-l {
  height: 395px;
  width: 385px;
  float: left; }

.sport .sport-l h2 {
  font-size: 12px;
  color: #d20d33;
  margin: 20px 0 14px 12px; }

.sport .sport-l .sport-g a {
  font-size: 12px;
  color: #5e5e5e;
  margin: 0 0 16px 12px; }

.sport-l .gym {
  height: 50px;
  width: 320px;
  margin: 16px 0 21px 12px; }

.sport-l .gym span a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.sport .sport-l .sport-y {
  font-size: 12px;
  color: #5e5e5e;
  margin: 0 0 16px 12px; }

.sport-l .suit {
  height: 50px;
  width: 320px;
  margin: 0 0 21px 12px; }

.sport-l .suit span {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 34px;
  color: #5e5e5e; }

.sport-l .suit span:nth-child(1) {
  margin-right: 8px; }

.sport .sport-l .sport-c {
  font-size: 12px;
  color: #5e5e5e;
  margin: 0 0 0 12px; }

.sport-l .child {
  height: 33px;
  width: 320px;
  margin: 0 0 21px 12px; }

.sport-l .child span {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 16px;
  color: #5e5e5e; }

.sport .sport-l .sport-m {
  font-size: 12px;
  color: #5e5e5e;
  margin: 0 0 16px 12px; }

.sport-l .rim {
  height: 50px;
  width: 320px;
  margin: 0 0 21px 12px; }

.sport-l .rim span {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 16px;
  color: #5e5e5e; }

/*运动周边end*/
.sport .sport-con {
  height: 375px;
  width: 460px;
  float: left;
  padding-left: 12px; }

.sport .sport-con h2 {
  font-size: 12px;
  color: #d20d33;
  margin: 20px 0 14px 0; }

.sport-con .summer a {
  font-size: 12px;
  color: #5e5e5e;
  margin: 0 0 16px 0; }

.sport-con .summer-in {
  width: 436px;
  height: 32px; }

.sport-con .summer-in span a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.sport-con .run {
  font-size: 12px;
  display: block;
  color: #5e5e5e;
  margin: 0 0 16px 0; }

.sport-con .run-b {
  width: 391px;
  height: 54px; }

.sport-con .run-b span a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.sport-con .balls {
  font-size: 12px;
  display: block;
  color: #5e5e5e;
  margin: 10px 0 15px 0; }

.sport-con .ball-b {
  width: 294px;
  height: 55px; }

.sport-con .ball-b span a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.sport-con .strong {
  font-size: 12px;
  color: #5e5e5e;
  margin: 16px 0 16px 0; }

.sport-con .strong-in {
  width: 436px;
  height: 32px; }

.sport-con .strong-in span a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.sport .sport-right {
  height: 385px;
  width: 253px;
  float: left;
  padding-left: 12px; }

.sport .sport-right h2 {
  font-size: 12px;
  color: #d20d33;
  margin: 20px 0 0 0; }

.sport-right {
  height: 253px; }

.sport {
  display: none; }

.hassub1:hover .sport {
  display: block; }

/*运动生活下拉菜单end*/
/*休闲服饰*/
.nnavwrap .hassub2 .nav_a2 {
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
  background: black; }

.hassub2 {
  position: relative; }

.hassub2 .menu2 {
  width: 935px;
  height: 395px;
  background: #fff;
  position: absolute;
  left: -322px;
  top: 40px;
  z-index: 300;
  display: none; }

.menu2 .menu-left {
  height: 395px;
  width: 345px;
  padding: 20px 0 0 12px;
  float: left;
  border-right: 1px #ccc dashed; }

.menu-left h2 {
  font-size: 12px;
  color: #d20d33; }

.menu-left .man {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin: 16px 0; }

.menu-left .manin {
  width: 276px;
  height: 32px; }

.menu-left .manin a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.menu-left .woman {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin: 16px 0; }

.menu-left .womanin {
  width: 276px;
  height: 32px; }

.menu-left .womanin span {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

/*户外*/
.menu-left .outdoors {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin: 16px 0; }

.menu-left .outdoorsin {
  width: 276px;
  height: 32px; }

.menu-left .outdoorsin a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.menu2 .menu-con {
  height: 375px;
  width: 308px;
  border-right: 1px #ccc dashed;
  float: left;
  padding: 20px 0 0 12px; }

/*鞋靴*/
.menu-con .shoes {
  display: block;
  font-size: 12px;
  color: #5e5e5e; }

.menu-con .shoes {
  width: 260px;
  height: 32px; }

.menu-con .shoes a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 16px;
  color: #5e5e5e; }

/*包*/
.menu-con .package {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin-top: 16px; }

.menu-con .package-in {
  width: 285px;
  height: 16px;
  margin-top: 16px; }

.menu-con .package-in a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 16px;
  color: #5e5e5e; }

/*居家*/
.menu-con .homeon {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin-top: 16px; }

.menu-con .home-in {
  width: 285px;
  height: 16px;
  margin-top: 16px; }

.menu-con .home-in a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 16px;
  color: #5e5e5e; }

.menu2 .menu-right {
  height: 395px;
  width: 250px;
  float: left; }

/*鼠标划过*/
.hassub2:hover .menu2 {
  display: block; }

/*男女名鞋*/
.nnavwrap .hassub3 .nav_a3 {
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
  background: black;
  font-size: 16px; }

.hassub3 {
  position: relative; }

.hassub3 .menu3 {
  width: 935px;
  height: 395px;
  background: #fff;
  position: absolute;
  left: -422px;
  top: 40px;
  z-index: 300;
  display: none; }

.menu3 .menu-left1 {
  height: 395px;
  width: 345px;
  padding: 20px 0 0 12px;
  float: left;
  border-right: 1px #ccc dashed; }

.menu-left1 h2 {
  font-size: 12px;
  color: #d20d33; }

.menu-left1 .man1 {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin: 16px 0; }

.menu-left1 .manin1 {
  width: 276px;
  height: 32px; }

.menu-left1 .manin1 a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.menu-left1 .woman1 {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin: 16px 0; }

.menu-left1 .womanin1 {
  width: 276px;
  height: 32px; }

.menu-left1 .womanin1 span {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

/*户外*/
.menu-left1 .outdoors1 {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin: 16px 0; }

.menu-left1 .outdoorsin1 {
  width: 276px;
  height: 32px; }

.menu-left1 .outdoorsin1 a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  color: #5e5e5e; }

.menu3 .menu3-con {
  height: 375px;
  width: 308px;
  border-right: 1px #ccc dashed;
  float: left;
  padding: 20px 0 0 12px; }

/*鞋靴*/
.menu3-con .girl-x {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  margin-top: 20px; }

.menu3-con .girlsum {
  font-size: 12px;
  margin: 16px 0; }

.menu3-con .girlin {
  width: 252px;
  height: 32px; }

.menu3-con .girlin a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 16px;
  color: #5e5e5e; }

.menu-con1 .pack1 {
  font-size: 12px;
  color: #5e5e5e;
  margin: 16px; }

/*包配*/
.menu3-con .womanbox {
  font-size: 12px;
  display: block;
  color: #5e5e5e;
  padding: 16px 0; }

.menu3-con .box-in {
  width: 265px;
  height: 32px; }

.box-in a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 16px;
  color: #5e5e5e; }

.menu3-con .dong {
  font-size: 12px;
  color: #5e5e5e;
  padding: 16px 0; }

.menu3-con .dongin {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-right: 16px;
  color: #5e5e5e; }

/*鼠标划过*/
.hassub3:hover .menu3 {
  display: block; }

/*全球购*/
.nnavwrap .hassub4 .nav_a5 {
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
  background: black; }

.hassub4 {
  position: relative; }

.hassub4 .global {
  width: 1160px;
  height: 395px;
  background: #fff;
  position: absolute;
  left: -522px;
  top: 40px;
  z-index: 300;
  display: none; }

.global .global-left {
  width: 333px;
  height: 375px;
  float: left;
  border-right: 1px #ccc dashed;
  padding: 20px 0 0 12px; }

.global-left .often {
  font-size: 12px;
  color: #d20d33;
  padding-bottom: 16px; }

.global-left .oftenin {
  height: 16px;
  width: 225px; }

.oftenin a {
  font-size: 12px;
  margin-right: 14px; }

.global-left .chao {
  font-size: 12px;
  color: #5e5e5e;
  padding: 40px 1px 16px 0; }

.global-left .chaoin {
  height: 16px;
  width: 225px; }

.global-left .chaoin a {
  font-size: 12px;
  color: #5e5e5e;
  padding-bottom: 16px; }

.global-left .clothing {
  font-size: 12px;
  margin: 16px 0 16px 0;
  color: #5e5e5e; }

.global-left .clothing-in {
  width: 300px;
  height: 32px; }

.global-left .clothing-in a {
  font-size: 12px;
  color: #5e5e5e;
  padding-bottom: 16px; }

.global-left .xie {
  font-size: 12px;
  color: #5e5e5e;
  padding: 20px 1px 16px 0; }

.global-left .xie-in {
  width: 306px;
  height: 52px; }

.global-left .xie-in a {
  font-size: 12px;
  color: #5e5e5e;
  padding-bottom: 16px; }

/*活动*/
.global .global-con {
  height: 395px;
  width: 550px;
  float: left;
  padding: 20px 0 0 12px; }

.global-con .activity {
  font-size: 12px;
  color: #d20d33;
  border-right: 1px #ccc dashed; }

.global .global-right {
  height: 375px;
  width: 238px;
  float: left;
  padding: 20px 0 0 12px; }

.global-right .brand {
  font-size: 12px;
  color: #d20d33; }

.hassub4:hover .global {
  display: block; }

/*家居包配*/
.nnavwrap .home {
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  color: #fff;
  height: 40px;
  line-height: 40px;
  background: black; }

/*轮播图*/
#box {
  width: 2000px;
  height: 350px;
  margin: 0 auto; }

#top {
  position: relative;
  height: 350px;
  width: 1200px; }

#top li {
  position: absolute;
  left: 0;
  left: 0;
  margin-left: -310px; }

#btn_l {
  left: 50%;
  margin-left: -480px;
  width: 22px;
  height: 36px;
  position: absolute;
  top: 150px;
  background: url(http://0.js.al.okbuycdn.com/resources/images/v6/index/slideconcroll.png) no-repeat 0 0;
  z-index: 200; }

#btn_r {
  right: 50%;
  background-position: -22px 0;
  margin-right: -578px;
  width: 22px;
  height: 36px;
  position: absolute;
  top: 150px;
  background: url(http://0.js.al.okbuycdn.com/resources/images/v6/index/slideconcroll.png) no-repeat 0 0;
  z-index: 200; }

#bottom {
  position: relative; }

#small_ul {
  position: absolute;
  bottom: 22px;
  left: 33%;
  width: 192px;
  height: 18px; }

#small_ul li {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  float: left;
  background: pink;
  margin-right: 8px; }

/*小图标*/
.brand {
  width: 100%;
  height: 315px;
  background: #f5f5f5; }

.brand-con {
  height: 285px;
  width: 1200px;
  margin: 0 auto;
  background: #f5f5f5; }

.brand-con p {
  height: 87px;
  width: 1200px; }

.brand-con.brandin {
  height: 194px;
  width: 1200px; }

.brandin a {
  width: 72px;
  height: 50px;
  background: #fff;
  display: block;
  float: left;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding: 7px 13px 7px 13px; }

.brandin a img {
  height: 50px;
  width: 72px; }

/*有好货*/
.center {
  width: 100%;
  height: 200px; }

.center .center-con {
  height: 200px;
  width: 1200px;
  margin: 0 auto;
  background: pink; }

.center-con .center-t {
  height: 50px;
  width: 1220px; }

/*商品展示*/
/*设置最小高度*/
.list2 {
  min-height: 1000px;
  width: 100%;
  margin-top: 30px; }

.list2-con {
  height: 3080px;
  width: 1220px;
  margin: 0 auto; }

.list2 ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid #ccc; }

.list2 ul li a img {
  width: 593px;
  height: 208px; }

.list2 ul li .listin1 {
  position: absolute;
  left: 0;
  top: 76px;
  color: #333;
  z-index: 2;
  width: 200px;
  line-height: 18px;
  font-size: 14px;
  text-align: center; }

.list2 ul li .listin2 {
  position: absolute;
  left: 0;
  top: 94px;
  color: #333;
  z-index: 2;
  width: 200px;
  line-height: 18px;
  font-size: 14px;
  text-align: center; }

.list2 ul li .listin3 {
  position: absolute;
  left: 0;
  top: 144px;
  color: #d70057;
  z-index: 2;
  width: 200px;
  line-height: 18px;
  font-size: 20px;
  text-align: center; }

.list2 ul li:hover {
  border: 1px solid #d70057; }

/*计时器*/
.list2 ul li a .time1 {
  position: absolute;
  z-index: 2;
  left: 48px;
  bottom: 10px;
  color: #666; }

.list2 ul li a .time1 .day {
  font-size: 12px;
  float: left; }

.time1 .hour {
  font-size: 12px;
  float: left; }

.time1 .minute {
  font-size: 12px;
  float: left; }

.time1 .second {
  font-size: 12px;
  float: left; }

.time1 .fsecond {
  font-size: 12px;
  float: left; }

/*新人特权*/
.privilege {
  height: 200px;
  width: 100%; }

.privilege-con {
  height: 200px;
  width: 1200px;
  margin: 0 auto;
  background: blue; }

/*品牌优惠*/
.list3 {
  min-height: 300px;
  width: 100%; }

.list3 .list3-con {
  min-height: 300px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px; }

.list3-con ul li {
  float: left;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 10px;
  position: relative; }

.list3-con ul li a img {
  width: 390px;
  height: 311px; }

.list3-con ul li a .list3tit {
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 50px;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  width: 250px;
  text-align: left;
  font-size: 18px; }

.list3-con ul li a .list3tit span {
  color: #d70057; }

.list3-con ul li:hover {
  border: 1px solid #d70057; }

/*计时器*/
.list3 ul li a .time2 {
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  color: #666;
  font-size: 12px; }

/*底部*/
.footer {
  height: 327px;
  width: 100%;
  border-top: solid 1px #a6a6a6;
  margin-top: 40px;
  background: #dddddd; }

.footer .footer-con {
  height: 327px;
  width: 1200px;
  background: #dddddd;
  margin: 0 auto;
  padding: 28px 0 0 0; }

.footer-box {
  height: 273px;
  width: 1200px; }

.footer-box .qr {
  height: 130px;
  width: 540px;
  background: #fff;
  float: left;
  padding: 20px;
  margin-left: 26px; }

.qr .qr-l {
  height: 125px;
  width: 120px;
  float: left;
  text-align: center;
  margin-left: 60px; }

.qr .qr-l span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  text-align: center; }

.qr .qr-l img {
  height: 90px;
  width: 90px;
  margin-left: 15px; }

.qr .qr-r {
  height: 125px;
  width: 120px;
  float: left;
  text-align: center;
  margin-left: 170px; }

.qr .qr-r span {
  display: block;
  margin-top: 8px;
  font-size: 14px; }

.qr .qr-r img {
  height: 90px;
  width: 90px;
  margin-left: 15px; }

/*联系我们*/
.footer-box .call {
  height: 110px;
  width: 594px;
  float: left; }

.footer-box .call ul li {
  float: left;
  width: 110px;
  display: inline;
  border-left: solid 1px #fff;
  margin-left: 30px; }

.call ul li .tit {
  line-height: 24px;
  background: #fff;
  margin-bottom: 14px;
  font-size: 14px;
  color: #999; }

.call ul li a {
  font-size: 12px;
  color: #999; }

.footer-box .photo {
  height: 36px;
  width: 100%;
  padding: 45px 0 0 0; }

.photo .pt {
  height: 36px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-left: 450px; }

.photo a {
  float: left;
  margin: 0 10px; }

.photo p {
  display: block;
  height: 42px;
  width: 710px;
  text-align: center;
  line-height: 42px;
  margin-left: 540px; }

.photo a {
  font-size: 12px; }

.bt {
  background-color: #232323;
  text-align: center;
  color: #999;
  line-height: 24px;
  font-size: 12px;
  width: 100%; }

.bt span a {
  color: red; }
